<html lang='en'>

<head>
  <meta charset='utf-8'>

  <title>Helsinki restaurant median pickup times</title>
  <meta name='author' content='Simo Antikainen'>

  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

</head>

<body>

  <div id='restaurant-map' style='width:1000px;height:500px;'></div>

  <form id='data-update-form' onsubmit='return updateVisualization(event)'>
    <div>
      <label for='Date'>Date:</label>
      <input type='date' id='day-selected' name='day-selected' value='2019-01-07' min='2019-01-07' max='2019-01-13'>
    </div>
    <div>
      <label for='start-time'>Start time:</label>
      <input id='start-time' type='time' name='start-time' value='15:00'>
    </div>
    <div>
      <label for='end-time'>End time:</label>
      <input id='end-time' type='time' name='end-time' value='16:00'>
    </div>
    <div class='button' id='data-update-button'>
      <button type='submit' id='form-submit'>Update time range</button>
    </div>
  </form>

  <script>

    Plotly.setPlotConfig({
      mapboxAccessToken: 'pk.eyJ1IjoiYW50aWthc3N0dWRlbnQiLCJhIjoiY2pyZXZmbGp5MDczaDN5bGNmZHg5bDVnbSJ9.fFX_URUh20VXDmCwUhRSpw'
    })

    function formatLocationText(plotJson) {
      let formattedLocation = []
      locations = Object.values(plotJson.location_id)
      medians = Object.values(plotJson.median)

      for (let i = 0; i < locations.length; i++) {
        let markerText = 'id: ' + locations[i] + ' Md: ' + medians[i] + ''
        formattedLocation.push(markerText)
      }
      return formattedLocation
    }

    function drawVisualization(plotJson) {

      let trace = {
        type: 'scattermapbox',
        lon: Object.values(plotJson.longitude),
        lat: Object.values(plotJson.latitude),
        mode: 'markers',
        text: formatLocationText(plotJson),
        textposition: 'top center',
        marker: {
          size: 10,
          color: Object.values(plotJson.median),
          colorbar: {
            title: 'Median (Min)',
            dtick: 2
          },
          colorscale: 'RdBu'
        }
      };

      let data = [trace];

      let layout = {
        mapbox: {
          bearing: 0,
          center: {
            lat: 60.17,
            lon: 24.94
          },
          pitch: 0,
          zoom: 10
        },
        title: 'Helsinki restaurant median pickup times'

      };

      Plotly.newPlot('restaurant-map', data, layout);
    }

    function initializeVisualization() {
      fetch('http://localhost:5000/visualizationdata')
        .then(function (response) {
          return response.json();
        })
        .then(function (plotJson) {
          drawVisualization(plotJson)
        })
    }

    function updateVisualization(event) {
      event.preventDefault()

      let url = new URL('http://localhost:5000/visualizationdata')
      const params = new URLSearchParams(new FormData(document.getElementById('data-update-form')));
      url.search = params

      fetch(url, {
        method: 'get'
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (plotJson) {
          //Refactor this: had problems with updating plot with plotly.reshape, so the plot is redrawn complety
          drawVisualization(plotJson)
        });
    }

    initializeVisualization()

  </script>

</body>

</html>