<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Helsinki restaurant median pickup times</title>
  <meta name="author" content="Simo Antikainen">

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body>

  <div id="restaurant-map" style="width:1000px;height:500px;"></div>

  <form action="/visualizationdata" id="data-update-form" method="get" onsubmit="return updateVisualization(event)">
    <div>
      <label for="Date">Date:</label>
      <input type="date" id="day-selected" name="day-selected"
        value="2019-01-07"
        min="2019-01-07" max="2019-01-13">
    </div>
    <div>
        <label for="start-time">Start time:</label>
        <input id="start-time" type="time" name="start-time" value="15:00">
    </div>
    <div>
        <label for="end-time">End time:</label>
        <input id="end-time" type="time" name="end-time" value="16:00">
    </div>
    <div class="button" id="data-update-button">
        <button type="submit" id="form-submit">Send your message</button>
      </div>
  </form>

  <script>

    function formatLocationText(plotJson) {
      var formattedLocation = []
      locations = Object.values(plotJson.location_id)
      medians = Object.values(plotJson.median)

      for (var i = 0; i < locations.length; i++) {
        var markerText = "id: " + locations[i] + " Md: " + medians[i] + ""
        formattedLocation.push(markerText)
      }
      return formattedLocation
    }

    function drawVisualization(plotJson) {

          var trace1 = {
            x: Object.values(plotJson.longitude),
            y: Object.values(plotJson.latitude),
            mode: 'markers',
            type: 'scatter',
            text: formatLocationText(plotJson),
            textposition: 'top center',
            marker: {
              size: 10,
              color: Object.values(plotJson.median),
              colorbar: {
                title: "Median (Min)",
                dtick: 2
              }
            }
          };

          var data = [trace1];

          var layout = {
            title: 'Helsinki restaurant median pickup times',
            xaxis: {
            title: {
              text: 'Longitude',
              font: {
              family: 'Courier New, monospace',
              size: 18,
              color: '#7f7f7f'
              }
            },
            },
            yaxis: {
              title: {
                text: 'Latitude',
              font: {
              family: 'Courier New, monospace',
              size: 18,
              color: '#7f7f7f'
                }
              }
            }
          };

          Plotly.newPlot('restaurant-map', data, layout);
    }

    function initializeVisualization() {
      fetch('http://localhost:5000/visualizationdata')
        .then(function(response) {
          return response.json();
        })
        .then(function(plotJson) {
          drawVisualization(plotJson)
        })
    }

    function updateVisualization(event) {
      event.preventDefault()
      //https://stackoverflow.com/questions/35038857/setting-query-string-using-fetch-get-request
      //https://stackoverflow.com/questions/46640024/how-do-i-post-form-data-with-fetch-api

      var url = new URL('http://localhost:5000/visualizationdata')
      const params = new URLSearchParams(new FormData(document.getElementById("data-update-form")));

      url.search = params
        fetch(url, {
          method: 'get'
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(myJson) {
          drawVisualization(myJson)    
        });
      }

    initializeVisualization()
    
  </script>

</body>

</html>