<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>



</head>

<body>

  <div id="restaurant-map" style="width:1000px;height:500px;"></div>

  <button type="button" onclick="updateVisualization()">Try it</button>

  <form action="/my-handling-form-page" method="post">
    <div>
      <label for="Date">Date:</label>
      <input type="date" id="start" name="trip-start"
        value="2019-01-07"
        min="2019-01-07" max="2019-01-13">
    </div>
    <div>
      <label for="mail">E-mail:</label>
      <input type="email" id="mail" name="user_mail">
    </div>
  </form>


  <script>

    function formatLocationText(plotJson) {
      var formattedLocation = []
      locations = Object.values(plotJson.location_id)
      medians = Object.values(plotJson.median)

      for (var i = 0; i < locations.length; i++) {
        var markerText = "id: " + locations[i] + " Md: " + medians[i] + ""
        formattedLocation.push(markerText)
      }

      return formattedLocation
    }

    var initial_data = {}
    function initializeVisualization() {
      fetch('http://localhost:5000/defaultdata')
        .then(function(response) {
          return response.json();
        })
        .then(function(plotJson) {
          //print( JSON.stringify(myJson))
          //print("adsds")
          
          TESTER = document.getElementById('restaurant-map');

          var trace1 = {
            x: Object.values(plotJson.longitude),
            y: Object.values(plotJson.latitude),
            mode: 'markers',
            type: 'scatter',
            text: formatLocationText(plotJson),
            textposition: 'top center',
            marker: {
              size: 10,
              color: Object.values(plotJson.median),
              colorbar: {
                title: "Median",
                dtick: 2
              }
            }
          };

          var data = [trace1];

          var layout = {
            title: 'Helsinki restaurant median pickup times',
            xaxis: {
            title: {
              text: 'Longitude',
              font: {
              family: 'Courier New, monospace',
              size: 18,
              color: '#7f7f7f'
              }
            },
            },
            yaxis: {
              title: {
                text: 'Latitude',
              font: {
              family: 'Courier New, monospace',
              size: 18,
              color: '#7f7f7f'
                }
              }
            }
          };

          Plotly.newPlot('restaurant-map', data, layout);
        })
    }

    initializeVisualization()
    
  </script>


  <script>
      var a = {}
      function updateVisualization() {
        fetch('http://localhost:5000/defaultdata')
        .then(function(response) {
          return response.json();
        })
        .then(function(myJson) {
          a = JSON.stringify(Object.values(myJson.location_id))
          
          printvals()
        });
      }

      function printvals() {
        console.log(a)
      }
    </script>

</body>



</html>